---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Add logo to masthead
.site-title::before {
	content: url("icon_1.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
}
